body {
    font-family:   sans-serif;
    background-color: #dae7e2;
    overflow: hidden;
    margin: 0; 
    padding: 0;
}

.image-container {
    position: relative;
    max-width: 800px;
    height: 100vh; 

}

.image-container img {
    width: 200%;
    height: 100%; 
    object-fit: cover; 
    background-size: cover;
}